<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ApplicationName" value="CopyToSheet"/>
		<add key="SSpreadsheetId" value="1GQ6fblWOvm_xB2vNMfLMZjg2c6AxAcr_hOw_C9f5B5c"/>
		<add key="DSpreadsheetId" value="1dQvJVo4auglzdLiCtk5dcdtjFzyiP3VQ4TK7gJmSLS8"/>
		<add key="SourceSheet" value="Sheet1"/>
		<add key="DestinationSheet" value="Sheet1"/>
		<add key="CredentialJsonName" value="upbeat-flame-354806-7edf413824bf.json"/>
		<add key="IgnoreColumns" value="Club 3,Club 4"/> 
	</appSettings>
</configuration>
