<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ApplicationName" value="CopyToSheet"/>
		<add key="SSpreadsheetId" value="1SXAknB1vxA-xLiApclynr8Rq8CG9LuZOA7QoRsnEszw"/>
		<add key="DSpreadsheetId" value="1T1PkFxbYlxIUecv_wVFAz1XhcfzwYHfY_oSyKD9TinM"/>
		<add key="SourceSheet" value="Raw Data - Do Not Format This Tab"/>
		<add key="DestinationSheet" value="Copied from Resident Inquiry sheet"/>
		<add key="CredentialJsonName" value="upbeat-flame-354806-7edf413824bf.json"/>
		<add key="IgnoreColumns" value="Phone,Would you like us to use your name when we contact your property,Property Name,Contact at Property,Property Email,Property Phone,Property Website,Message,would you like to become a member of the lab"/>
	</appSettings>
</configuration>
